<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
 //   
  var socket = io.connect('localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
  function joinroom(roomnumber){
   socket.emit('join', { room:roomnumber });
  };
  socket.on('updata', function (data) {
    //x=document.getElementById("demo");  // 找到元素
    //x.innerHTML=data.hello;    // 改变内容
    if(document.getElementById("chat-window").value.length>100) 
      document.getElementById("chat-window").value=data.hello;
    else document.getElementById("chat-window").value+=data.hello+"\n";
    console.log(data.hello.length);
  });


var int;
function openclock(){
  int=window.setInterval("clock()",2000);
}
function clock()
  {
  socket.emit('request', { room:'1' });
  }
    </script>
  </head>
 <body>     
   
  <div><textarea id="chat-window" cols="100" rows="2"></textarea></div>
  </form>
        <button onclick=joinroom("room1")>room1</button>
        <button onclick=joinroom("room2")>room2</button>
        <button onclick="openclock()">开启定时器</button>
         <button onclick="int=window.clearInterval(int)">关闭定时器</button>
             
  </body>
  </body>
</html>