<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script>
 //   
  var socket = io.connect('192.168.1.101');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
  function joinroom(roomnumber){
   socket.emit('join', { room:roomnumber });
  };
  socket.on('updata', function (data) {
    x=document.getElementById("demo");  // 找到元素
    x.innerHTML=data.hello;    // 改变内容
  });
    
var int;
function openclock(){
  int=window.setInterval("clock()",2000);
}
function clock()
  {
  socket.emit('request', { room:'1' });
  }
    </script>
  </head>
 <body>     
      <% include nav %>
      <form method="post">
        用户名：  <input type="text" id="txtUserName" name="txtUsername"/>
        密码：   <input type="password" id="textUserPwd" name="txtUserPwd"/>
        <input type="submit" value="提交">
      </form>
       <p id="demo">
        点击下面链接链接到socket服务器
        </p>
        <button onclick=joinroom("room1")>room1</button>
        <button onclick=joinroom("room2")>room2</button>
        <button onclick="openclock()">开启定时器</button>
         <button onclick="int=window.clearInterval(int)">关闭定时器</button>
  </body>
  </body>
</html>