body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#chat-window {
  width:100%;
  min-height: 300px;
  border-style: groove;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 94%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}